:root {
    --white-color: rgb(255, 255, 255);
    --primary-color: rgb(98, 22, 196);
    --primary-hover: rgb(74, 17, 149);
    --secondary-color: rgb(242, 242, 242);
    --background-color: #121212;
    --soft-black-color: rgb(16, 16, 16);
    --text-color: rgb(219, 219, 219);
    --text-paragraph: rgb(109, 109, 109);
    --text-experiences: rgb(104, 104, 104);
    --bottom-website: rgb(219, 219, 219);
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.Navbar {
    display: flex;
    justify-content: space-around;
    gap: 0px;
    align-items: center;
    margin: 0 auto;
    width: 100%;
    padding: 0 20px;
}

.Nav1 {
    display: flex;
    align-items: center;
    list-style: none;
    margin: 0;
    background-color: rgb(236, 236, 236);
    border-radius: 50px;
}

.Nav2 {
    display: flex;
    justify-content: center;
    align-items: center;
    list-style: none;
    margin: 0;
}

.Navbar li {
    padding: 10px 30px;
    border-radius: 50px;
    text-align: center;
}

.li1 {
    background-color: white;
    margin: 5px;
    font-weight: bold;
}

.a1 {
    color: black;
}

.a2,
.a3,
.a4,
.a5 {
    color: rgb(106, 106, 106);
}

.Navbar a {
    text-decoration: none;
    font-family: 'Poppins', sans-serif;
}

.SignIn {
    color: black;
}

.Start {
    background-color: black;
}

.a_start{
    display: inline-block;
    background-color: black;
    color: white;
    padding: 4px 7px;
    border-radius: 50px;
}

.Image {
    padding-left: 20px;
    width: 100px;
    object-fit: cover;
}
