html,
body {
    height: 100%;
    margin: 0;
    padding: 0;
    overflow-x: hidden;
}

#root {
    min-height: 100vh;
    display: flex;
    overflow-x: hidden;
}

.app {
    display: flex;
    flex-direction: column;
    flex: 1;
}

.container {
    flex: 1;
}

footer {
    background: #222;
    color: white;
    text-align: center;
    padding: 20px;
}

.hero{
    position: relative;

    width:100%;
    min-height:700px;

    background-position:center;
    background-repeat:no-repeat;

    display:flex;
    justify-content:space-between;
    align-items: flex-start;

    padding:0 80px;
    box-sizing:border-box;
}

.hero-left {
    display: flex;
    flex: 1;
    position: relative;
    z-index: 3;
    margin-top: 100px;
}

.hero-image {
    width: 450px;
    height: auto;
    margin-top: 40px;
    object-fit: cover;
    transform: scale(1.5);
    z-index: -1;
}

.hero-right {
    flex: 1;
    display: flex;
    justify-content: start;
    align-items: center;
    z-index: 3;
    transform: translateX(-50px);
}

.ContainerTitle {
    display: flex;
    flex-direction: column;
}
