.title-container {
    display: flex;
    flex-direction: column;
    gap: 15px;
    margin-left: 20px;
}

.subtitle {
    color: #2563EB;
    padding: 10px 20px;
    margin: 0;
    width: 270px;
    background-color: #e0f5ff8d;
    border-radius: 50px;
    font-family: Arial, Helvetica, sans-serif;

    display: flex;
    justify-content: center;
}

.subtitle h3 {
    font-weight: 600;
    font-size: 15px;
}

.title {
    font-family: Arial, Helvetica, sans-serif;
}

.title h1 {
    font-size: 60px;
    font-weight: 600;
}

.text1 {
    color: rgb(2, 2, 2);
}

.text2 {
    background: linear-gradient(90deg, #3974f4, #19138e);

    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;

    background-clip: text;
    color: transparent;
}

.subtitle-1 h4 {
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 500;
    font-size: 18px;
    width: 500px;
    line-height: 1.5;
}

.title-button {
    display: flex;
    gap: 10px;
}

.Button1 {
    display: inline-flex;
    justify-content: center;
    align-items: center;
    gap: 8px;
    transition: .3s;
    cursor: pointer;
    padding: 15px 40px;
    border-radius: 999px;
    border: none;
    background-color: #2563EB;
    color: white;
}

.Button2 {
    display: inline-flex;
    justify-content: center;
    align-items: center;
    gap: 8px;
    transition: .3s;
    cursor: pointer;
    padding: 15px 40px;
    border-radius: 999px;
    border: none;
    color: #2563EB;
    border: 2px solid #2563EB;
    background-color: white;
}

.btn {
    transition: transform .3s ease;
}

.Button1:hover .btn,
.Button2:hover .btn {
    transform: translateX(6px);
}
