@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:wght@400;500;600;700;800;900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Urbanist:ital,wght@0,100..900;1,100..900&display=swap');

.title-container {
    display: flex;
    flex-direction: column;
    gap: 15px;
    margin-left: 20px;

    display: flex;
    flex-direction: column;
    justify-content: center;
}

.subtitle {
    color: #093343;
    padding: 10px 20px;
    margin: 0;
    width: 270px;
    background-color: #e0e4e58d;
    border-radius: 50px;
    font-family: "Poppins", sans-serif;

    display: flex;
    justify-content: center;
}

.subtitle h3 {
    font-weight: 600;
    font-size: 15px;
}

.toga-container {
    display: flex;
    justify-content: right;
    width: 65%;
    margin-bottom: -10px;
}

.toga-image {
    width: 40px;
    height: auto;
}

.background {
    position: absolute;
    top: 20px;
    left: 0;
    width: 400px;
    height: 300px;
    background-image: url("@/assets/background/background_line.png");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    z-index: -1;
}

.title {
    position: relative;
    display: flex;
    flex-direction: column;
    gap: 5px;
    line-height: 1;
    padding-bottom: 10px;
    background-size: cover;
}

.title h1 {
    font-size: 60px;
    font-weight:bold;
    margin: 0;
}

.text1 {
    font-family: 'Urbanist', sans-serif;
    color: rgb(2, 2, 2);
}

.text2 {
    background: linear-gradient(90deg, #4D7889, #093343);

    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;

    background-clip: text;
    color: transparent;
    font-family: 'Urbanist', sans-serif;
}

.subtitle-1 h4 {
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 500;
    font-size: 18px;
    width: 500px;
    line-height: 1.5;
}

.title-button {
    display: flex;
    gap: 10px;
}

.Button1 {
    display: inline-flex;
    justify-content: center;
    align-items: center;
    gap: 8px;
    transition: .3s;
    cursor: pointer;
    padding: 15px 40px;
    border-radius: 999px;
    border: none;
    background-color: #093343;
    color: white;
}

.Button2 {
    display: inline-flex;
    justify-content: center;
    align-items: center;
    gap: 8px;
    transition: .3s;
    cursor: pointer;
    padding: 15px 40px;
    border-radius: 999px;
    border: none;
    color: #093343;
    border: 2px solid #093343;
    background-color: white;
}

.btn {
    transition: transform .3s ease;
}

.Button1:hover .btn,
.Button2:hover .btn {
    transform: translateX(6px);
}
