@import url('https://fonts.googleapis.com/css2?family=Plus+Jakarta+Sans:wght@200..800&display=swap');

.Bottom-navbar {
    box-shadow: 2px 0px 8px 0px #3974f448;
    transform: translateY(-130px);

    width: 90%;
    height: 150px;

    display: flex;
    justify-content: space-evenly;
    flex-direction: row;
    align-items: center;

    margin: 0 auto;
    background-color: white;
    border-radius: 20px;
    padding: 15px;
    z-index: 3;
}

.Icon-box {
    width: 70px;
    height: 70px;
    border-radius: 50%;
    background: #EEF4FF;

    display: flex;
    justify-content: center;
    align-items: center;
    align-self: center;

    box-shadow: 0 4px 12px rgba(37, 99, 235, 0.08);
}

.NavbarCard {
    position: relative;
    display: flex;
    flex-direction: row;
    gap: 15px;
    padding: 20px;
    flex: 1;
}

.NavbarCard:not(:last-child)::after {
    content: "";
    position: absolute;

    right: 0;
    top: 50%;
    margin: 0 30px;

    transform: translateY(-50%);

    width: 3px;
    height: 60px;
    border-radius: 20px;

    background: #8eb2ff6b;
}

.NavbarText {
    display: flex;
    flex-direction: column;
    gap: 5px;
}

.NavbarText h2 {
    font-family: "Inter", sans-serif;
    color: #2563EB;

}

.NavbarText h3 {
    font-family: "Plus Jakarta Sans", sans-serif;
    font-size: 18px;
}

.NavbarText h4 {
    font-family: "Plus Jakarta Sans", sans-serif;
    font-size: 12px;
    font-weight: 500;
    width: 150px;
    line-height: 1.5;
}
