.CardInformation {
    position: relative;
}

.Canada {
    top: 30px;
    left: -250px;

    position: absolute;
    background-color: white;
    width: 200px;
    height: 80px;
    box-shadow: 2px 0px 13px 2px rgba(0, 0, 0, 0.13);
    border-radius: 10px;

    display: flex;
    align-items: center;
    gap: 10px;

    transition: .3s ease;
}

.United-Kingdom {
    top: 150px;
    right: 630px;

    position: absolute;
    background-color: white;
    width: 200px;
    height: 80px;
    box-shadow: 2px 0px 13px 2px rgba(0, 0, 0, 0.13);
    border-radius: 10px;

    display: flex;
    align-items: center;
    gap: 10px;

    transition: .3s ease;
}

.Australia {
    top: 460px;
    right: 550px;

    position: absolute;
    background-color: white;
    width: 200px;
    height: 80px;
    box-shadow: 2px 0px 13px 2px rgba(0, 0, 0, 0.13);
    border-radius: 10px;

    display: flex;
    align-items: center;
    gap: 10px;

    transition: .3s ease;
}

.Singapore {
    top: 360px;
    right: -40px;

    position: absolute;
    background-color: white;
    width: 200px;
    height: 80px;
    box-shadow: 2px 0px 13px 2px rgba(0, 0, 0, 0.13);
    border-radius: 10px;

    display: flex;
    align-items: center;
    gap: 10px;

    transition: .3s ease;
}

.Canada:hover,
.Singapore:hover {
    transform: translate(-10px, -10px);
    box-shadow:
    2px 2px 0px 0.8px red, 4px 4px 0px white,
    6px 6px 0px red, 8px 8px 0px white,
    10px 10px 0px red, 12px 12px 0px white;
}

.Australia:hover,
.United-Kingdom:hover {
    transform: translate(-10px, -10px);
    box-shadow:
    2px 2px 0px 0.8px #0b3590, 4px 4px 0px white,
    6px 6px 0px #0b3590, 8px 8px 0px white,
    10px 10px 0px #0b3590, 12px 12px 0px white;
}

.TextCountry {
    display: flex;
    flex-direction: column;
}

.TextCountry h4,
.TextCountry h5 {
    margin: 0;
    padding: 0;
}

.country {
    width: 60px;
    height: 45px;
    margin-left: 10px;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    border-radius: 5px;
}
