.Layanankami {
    padding: 40px;
    padding: 80px;
}

.text-layanankami {
    font-family: 'Urbanist', sans-serif;
    color: #093343;
}

.Card-layanankami {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.Card1-layanankami {
    width: 260px;
    height: 240px;
    background-color: white;
    border-radius: 10px;
    box-shadow: 0 0px 10px rgba(37, 100, 235, 0.13);

    padding: 20px;
    padding-left: 30px;

    display: flex;
    flex-direction: column;
    gap: 20px;
}

.IconBox {
    background-color: #EEEEEE;
    width: 60px;
    height: 60px;
    color: #093343;

    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 20px;
}

.Box-text {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.Box-text h4 {
    font-size: 15px;
}
